<%- include('./Partial/head.ejs') %>
<body>
     <!-- navbar section -->
     <%- include('./Partial/nav.ejs') %>
     <header>
       <div class="slogan" id="errorContent">
        <h1>Error</h1>
        <p> Sorry a web page with such name does not exist </p>
       </div>
     </header>
     <%- include('./Partial/footer.ejs') %> 
    <script src="../Js/index.js"></script>
</body>
   
