<%- include('./Partial/head.ejs') %> 
<body>
    <%- include('./Partial/nav.ejs') %>
    <section id="contactus">

        <div id = 'result' class="slogan response">
            <p>thank you for the response <%= data.name%></p>
            <p>We appreciate, we will get back to you.</p>
        </div>
    </section>

    <%- include('./Partial/footer.ejs') %> 
    <script src="../Js/index.js"></script> 
</body>
