// //this code was cut from the sliding section

// <!-- <div class="content mySlides ">
//             <div class="star-icons">
//                 <i class="fa fa-star"></i>
//                 <i class="fa fa-star"></i>
//                 <i class="fa fa-star"></i>
//                 <i class="fa fa-star"></i>
//                 <i class="fa fa-star"></i>
//             </div>
//             <h3>
//                 It's just five stars. I will certainly come back and bring my
//                 friends with me.
//             </h3>
//             <p class="mail">@sirashaven.com</p>
//         </div>
//         <div class="content mySlides ">
//             <div class="star-icons">
//                 <i class="fa fa-star"></i>
//                 <i class="fa fa-star"></i>
//                 <i class="fa fa-star"></i>
//                 <i class="fa fa-star"></i>
//                 <i class="fa fa-star"></i>
//             </div>
//             <h3>
//                 I always thought that people used to pay much for quality. But these guys changed my opinion. The
//                 quality exceeds the price many times. I recommend it to everybody.
//             </h3>
//             <p>Adwoa Smith</p>
//         </div>
//         <div class="content mySlides ">
//             <div class="star-icons">
//                 <i class="fa fa-star"></i>
//                 <i class="fa fa-star"></i>
//                 <i class="fa fa-star"></i>
//                 <i class="fa fa-star"></i>
//                 <i class="fa fa-star"></i>
//             </div>
//             <h3>
//                 I always thought that people used to pay much for quality. But these guys changed my opinion. The
//                 quality exceeds the price many times. I recommend it to everybody.
//             </h3>
//             <p>Kojo Mensah Smith</p>
//         </div>
//         <div class="content mySlides ">
//             <div class="star-icons">
//                 <i class="fa fa-star"></i>
//                 <i class="fa fa-star"></i>
//                 <i class="fa fa-star"></i>
//                 <i class="fa fa-star"></i>
//                 <i class="fa fa-star"></i>
//             </div>
//             <h3>
//                 This is a great product. It reveals an individual approach to each customer. I liked the level of the
//                 provided service.
//             </h3>
//             <p>Suzzy Willson</p>
//         </div>
//         <div class="content mySlides ">
//             <div class="star-icons">
//                 <i class="fa fa-star"></i>
//                 <i class="fa fa-star"></i>
//                 <i class="fa fa-star"></i>
//                 <i class="fa fa-star"></i>
//                 <i class="fa fa-star"></i>
//             </div>
//             <h3>
//                 This is a Amazing, quality product. It reveals an individual approach to each customer. I liked the
//                 level of the provided service.
//             </h3>
//             <p>Yashir Ahmed Arafat</p>
//         </div>
//         <div class="content mySlides ">
//             <div class="star-icons">
//                 <i class="fa fa-star"></i>
//                 <i class="fa fa-star"></i>
//                 <i class="fa fa-star"></i>
//                 <i class="fa fa-star"></i>
//                 <i class="fa fa-star"></i>
//             </div>
//             <h3>
//                 This is a great product. It reveals an individual approach to each customer. I liked the level of the
//                 provided service, Everything was just on point
//             </h3>
//             <p>Ibrahim Ahmed Rufai</p>
//         </div>
//         <div id="dot">
//             <span class="dot" onclick="currentSlide(1)"></span>
//             <span class="dot" onclick="currentSlide(2)"></span>
//             <span class="dot" onclick="currentSlide(3)"></span>
//             <span class="dot" onclick="currentSlide(4)"></span>
//             <span class="dot" onclick="currentSlide(5)"></span>
//             <span class="dot" onclick="currentSlide(6)"></span>
//         </div> -->