* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html{
    scroll-behavior: smooth;
  }
  body {
    overflow-x: hidden;
    font-family: "Roboto", 'Sans-serif';
    color: #555;
  }
  /* js stricky styling */
  .sticky {
    background-color: #252830;
    /* padding: 0 20px; */
  }
  header {
    background: url(../Images/restaurant.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 70em;
    width: 100vw;
  }
  /* body.dark {
    background-color: #24292d;
  } */
  .header {
    position: fixed;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    z-index: 1;
    width: 100vw;
    height: 5em;
    padding-top: 10px;
    justify-content: center;
    align-content: center;
  }
  /* body.dark header {
    background-color: red;
    transition: background 0.5s;
  } */
  .openMenu {
    font-size: 2rem;
    margin-top: 40px;
    display: none;
    position: absolute;
    right: 0;
    cursor: pointer;
    color: #00c0ff;
    transition: all 0.6s;
    z-index: -1;
  }
  .closeMenu {
    display: none;
    cursor: pointer;
    color: #00c0ff;
    position: absolute;
    top: 20px;
    transition: all 0.6s;
  }
  
  .logo img {
    margin: 40px 30px;
    height: 40px;
  }
  .navbar a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
  }
  .navbar {
    /* margin: 40px 40px 0px -100px; */
    margin: 40px 40px 0px 0px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 10px;
  }
  .navbar a:hover {
    transition: all 0.25s ease-out;
    color: #00c2f3;
  }
  /* dropdown section */
li{
    list-style: none;
  text-align: center;
  }
  .dropdown-content {
    display: none;
    z-index: 1;
  }
  /* Links inside the dropdown */
  .dropdown-content a {
    padding: 7px 5px;
    display: block;
  }
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropdownbtn {
    color: #0a0a0a;
    font-weight: bold;
  }
  
#sliding-content {
    background-image: url(../Images/bg21.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    padding: 60px 0 100px 0;
  }
  #sliding-content .content {
    width: 100%;
    word-wrap: break-word;
    word-spacing: 3px;
    line-height: 50px;
    padding: 11rem 20rem 5rem 20rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
  }
  .star-icons {
    font: bolder;
    color: #ffd200;
    font-size: 2.5rem;
    margin-bottom: 40px;
  }
  #sliding-content .content p {
    font-size: 1.3rem;
    margin-top: 25px;
    opacity: 0.5;
  }
  
  /* Slideshow container section  */
  /* Hide the star icon, text by default */
  .mySlides {
    display: none;
  }
  
  /* the dot section */
  #dot {
    text-align: center;
  }
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active,
  .dot:hover {
    background-color: #717171;
  }
  
.output-content{
    text-align: center;
    font-size: 3rem;
    font-weight: 300;
    word-spacing: 10px;
    position: relative;
    top: 7em;
    color: #ffffff;
  }

  /* footer section */
footer {
    background: #252830;
  }
  #footer-section {
    padding: 5em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: #fff;
  }
  #developer-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: -3rem;
  }
  #developer-details img {
    height: 4em;
  }
  .developer-name {
    margin-left: -11em;
    line-height: 1.5;
    font-size: 1.4em;
    font-weight: 300;
  }
  
  #developer-details .developer-name a:hover{
    color: #00c2f3;
    font-size: 1.6rem;
    font-family: bold;
    transition:  all .5s ease-in;
  }
  
  .social-media-icons {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    padding: 25px 0;
    margin-left: 10rem;
  }
  
  .social-media-icons .fab {
    margin-left: 36px;
    font-size: 1.5rem;
    opacity: 0.4;
    margin: 0;
    transition:  opacity .5s ease;
  }
  
  .social-media-icons .fab:hover{
    opacity: 1;
  }
  #footer-section a {
    text-decoration: none;
    color: #fff;
  }