<footer>
    <div id="footer-section">
        <div id="developer-details">
            <img src="../Images/footer-logo.png" alt="select logo image">
            <div class="developer-name">
                <p> &copy; 2021 Havengh</p>
                <p> Designed by <a href="#" target="_blank">Sira_the_Niqqabist.com</a></p>
            </div>
        </div>
        <div class="social-media-icons">
            <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="#" target="_blank"><i class="fab fa-dribbble"></i></a>
            <a href="#" target="_blank"><i class="fab fa-behance"></i></a>
            <a href="#" target="_blank"><i class="fab fa-google"></i></a>
            <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="#" target="_blank"><i class="fab fa-pinterest"></i></a>
            <a href="#" target="_blank"><i class="fab fa-flickr"></i></a>
        </div>
    </div>
</footer>